@import url("../../styles/fonts.scss");
@import "../../styles/palette.scss";

.preview-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color1;
    font-family: 'Montserrat';
    overflow: hidden;
    .preview-wrapper{
        display: grid;
        padding: 1em;
        width: 300px;
        box-sizing: border-box;
        justify-content: center;
        align-content: center;
        justify-items: center;
        gap: 1em;
        
        
    }

}

@media screen and (max-width: 340px) {
    .preview-wrapper{
        width: 100%;
    }
}
