@import url("../../styles/fonts.scss");
@import "../../styles/palette.scss";

.preview-container{
    width: 100%;
    height: 100vh;
    background-color: $color1;
    font-family: 'Montserrat';
    .preview-wrapper{
        display: grid;
        padding: 1em;
        height: 100%;
        box-sizing: border-box;
        justify-content: center;
        align-content: center;
        justify-items: center;
        gap: 1em;
        .circle-maket{
            polygon{
            }
        }
        .preview-field{
            align-self: flex-end;
        }
        .preview-navigation{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-self: flex-start;
            gap: .8em;
            .button{
                background-color: $color2;
                color: $color3;
                padding: .5em 1em;
                border-radius: 5px;
                gap: .2em;
                display: flex;
                align-items: center;    
                justify-content: center;
                cursor: pointer;
                user-select: none;
            }
            
            .download-button{
                background-color: $color5;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            .generate-button{
                margin-left: -.5em;
                width: 100%;
                background-color: $color5;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            .palette-button{
                background-color: $color2;
            }
        }
        canvas{
            background-color: $color3;
        }
    }

}