@import url("../../styles/fonts.scss");
@import "../../styles/palette.scss";

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
/* Изменение цвета скроллбара */
::-webkit-scrollbar-thumb {
  background-color: $color2;
}

/* Удаление стрелок скроллбара */
::-webkit-scrollbar-button {
  display: none;
}

.elements-block-container{
    width: 250px;
    min-width: 250px;
    height: 100vh;
    background-color: $color1;
    .tabs-container{
        display: flex;
        padding: 1em; 
        box-sizing: border-box;
        height: 57px;
        width: 100%;
        background-color: $color1;
        overflow-x: auto;
        gap: .5em;
        .tab{
            width: fit-content;
            padding: .2rem .7rem;
            box-sizing: border-box;
            font-size: 14px;
            font-family: "Montserrat";
            cursor: pointer;
            background-color: $color2;
            color: $color3;
            border-radius: 5px;
            transition: .1s;
            &.active{
                background-color: $color3;
                color: $color1;
            }
            
            
        }
    }
    .elements-container{
      display: grid;
      overflow-y: auto;
      height: calc(100% - 57px);
      justify-content: center;
      .element-wrapper{
        display: grid;
        width: 215px;
        height: 215px;
        background-color: #f1f1f1;
        border-radius: 5px;
        margin-bottom: 1em;
        cursor: pointer;
        .element{
          place-self: center;
          width: 180px;
        }
      }
    }
}