@import "../../styles/palette.scss";
@import "../../styles/fonts.scss";

.properties-block-container{
    width: 100%;
    height: calc(30vh - .5em);
    background-color: $color1;
    font-family: 'Montserrat';
    .properties-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1em;
        height: 100%;
        box-sizing: border-box;
        align-items: center;
        align-content: center;
        gap: 1em;
        .property-item{
            display: flex;
            gap: 1em;
            align-items: center;
            p{
                margin: 0;
                font-size: 20px;
            }
            input{
                font-family: 'Montserrat';
                font-size: 20px;
                outline: none;
                background-color: $color3;
                border: 1px solid #99a;
                color: #567;
                border-radius: 10px;
                padding: .2em .5em;
            }
            .color-input{
                width: 100px;
            }
            .width-input{
                width: fit-content;
            }
            .title{

            }
        }
    }
}