@import "./styles/palette.scss";

body{
    margin: 0;
    background-color: $color3;
}
.main-container{
    display: flex;
    gap: 1em;
    .main-screen{
        display: grid;
        width: 100%;
        gap: 1em;
    }
}